
@model Asp.NetCoreIntro.ViewModels.TutorialViewModel

<h1>
    @Model.title
</h1>
<h2> @ViewBag.name</h2>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
    </tr>

        <tr>
            <td>@Model.tutorial.Id</td>
            <td>@Model.tutorial.Name</td>
            <td>@Model.tutorial.Description</td>
        </tr>

</table>